# URL backend FastAPI.
# Dari screenshot Swagger, backend kemungkinan berjalan di port 8000.
REACT_APP_API_URL=http://localhost:8000

# Set false agar frontend benar-benar memanggil FastAPI.
# Set true kalau backend belum jalan dan ingin tes UI dengan mock data.
REACT_APP_USE_MOCK_API=false
